.footer {
    height: 154px;
    background: #18181A;
    padding: 25px 0 21px 0;
    &__line {
        display: block;
        margin: 0 auto;
        width: 301px;
        height: 7px;
        background: #F27676;
    }
    &__menu {
        width: 580px;
        margin: 25px auto 0 auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
    }
    &__item {
        a:hover {
            color: #FFFFFF;
        }
    }
    &__item-link {
        text-decoration: none;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__policy {
        margin-top: 24px;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
        a {
            color: #FFFFFF;
        }
    }
}