.title_black {
    width: 115px;
    height: 27px;
    background: #000000;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
}
.title_big {
    margin-top: 69px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}