.page4-promo {
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template: 580px / 400px 400px 250px;
        gap: 10px;
        justify-content: space-around;
    }
    &__item {
        width: 100%;
        img {
            width: 100%;
        }
        &_descr {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            color: #000000;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &-color {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #F27676;
            }
            &-address {
                margin-bottom: 18px;
            }
            &-phone {
                margin-bottom: 18px;
            }
            .m0 {
                margin-top: 50px;
            }
        }
    }
}
// .page4-promo__item:last-child {
//     width: 300px;
// }